mat-grid-list {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.active {
    background: #EEE;
    cursor: pointer;
}

.active:hover {
    background: #CCC;
}

.calendar {
    max-height: 216px;
}
